{{!-- TAB: NOTES (Figurant) --}}
<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="notes">
  <div class="form-group full-width">
    <label>{{localize "LAMES.Identite.description"}}</label>
    <textarea name="system.description" rows="5">{{system.description}}</textarea>
  </div>
  <div class="form-group full-width">
    <label>{{localize "LAMES.Divers.notes"}}</label>
    <textarea name="system.notes" rows="8">{{system.notes}}</textarea>
  </div>
</section>
