{{!-- HEADER: portrait + nom --}}
<header class="sheet-header">
  <img class="profile-img" src="{{actorImg}}"
       alt="{{actor.name}}" title="{{actor.name}}" />
  <div class="header-fields">
    <h1 class="actor-name"><input type="text" name="name" value="{{actor.name}}" /></h1>
    <div class="header-details">
      <span class="header-profils">
        {{system.profil1}}{{#if system.profil1Variation}} ({{system.profil1Variation}}){{/if}}
        {{#if system.profil2}} / {{system.profil2}}{{#if system.profil2Variation}} ({{system.profil2Variation}}){{/if}}{{/if}}
      </span>
      <span class="header-race">{{localize (concat "LAMES.Races." system.race)}}</span>
    </div>
  </div>
</header>
